*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #e9ecef;
}

.home-main{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 40px;
  grid-column-gap: 40px;
  margin-top: 2%;
}

.item{
  margin-left: 15%;
}

.MuiCardHeader-title{
  word-break: break-word;
}

.home-nopost{
  text-align: center;
  margin-top:5%;
  color: #adb5bd;

}

.navbar{
  height:70px;
  background-color: #ced4da;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.navbar-heading{
  margin-left: 10px;
  color: #495057;
}

.navbar-drop{
  position: absolute;
  right: 10px;
}

@media only screen and (max-width: 800px) {
  .home-main{
    display: grid;
    grid-template-columns: 1fr ;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    margin-top: 1%;
  }
}

@media only screen and (min-width: 800px) {
  .home-main{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    margin-top: 1%;
  }
}

@media only screen and (min-width: 1300px) {
  .home-main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    margin-top: 1%;
  }
}
@media only screen and (min-width: 1600px) {
  .home-main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    margin-top: 1%;
  }
}